.cart {

  &__title {
    margin-top: 80px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 25px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #E5E5E5;
    }

    &:last-child {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #E5E5E5;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }

  &__nameProduct {
    margin-top: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
  }

  &__price {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }

  &__attributes {
    margin-top: 20px;

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
    }
  }

   &__btns {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__btn {
    width: 60px;
    height: 45px;
    border: 1px solid $black;

    &.color {
      width: 32px;
      height: 32px;
      border: none;

      &.active {
        width: 36px;
        height: 36px;
        border: 1px solid $green;
      }
    }

    &.active {
      background-color: $black;
      color: $white;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;

    button {
      width: 45px;
      height: 45px;
      border: 1px solid $black;
    }
  }

  &__increment {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      display: block;
      width: 15px;
      height: 1px;
      background-color: $black;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%) rotate(-90deg);
        display: block;
        width: 15px;
        height: 1px;
        background-color: $black;
      }
    }


  }

  &__decrement {
    position: relative;
    
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      display: block;
      width: 15px;
      height: 1px;
      background-color: $black;
    }
  }

  &__photos {
    position: relative;
    width: 200px;
    height: 290px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btnPhotoChange {
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.73);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &.right {
      right: 16px;
      bottom: 16px;
    }

    &.left {
      right: 48px;
      bottom: 16px;
    }
  }

  &__orderInfo {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
    line-height: 28px;
    width: 200px;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__order {
    margin-top: 16px;
    margin-bottom: 275px;
    width: 280px;
    height: 45px;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $white;
  }

  &__delete {
    position: absolute;
    top: 90%;
    left: 50%;
    color: red;
  }

  &__add {
    margin-top: 40px;
    font-size: 25px;
  }
}